# Copyright (c) 2022 The ZMK Contributors
# SPDX-License-Identifier: MIT

menuconfig INPUT_IQS5XX
    bool "IQS5XX trackpad"
    default y
    depends on GPIO
    depends on SPI || I2C
    depends on INPUT
    depends on DT_HAS_IQS5XX_ENABLED
    help
      Enable driver for IQS5XX trackpads

if INPUT_PINNACLE

config INPUT_PINNACLE_INIT_PRIORITY
    int "IQS5XX initialization priority"
    default INPUT_INIT_PRIORITY

if ZMK_MOUSE

config ZMK_INPUT_IQS5XX_IDLE_SLEEPER
    bool "IQS5XX Sleep linked to ZMK idle state"
    default n

endif

endif
