if SHIELD_36CHAMBERS9SR_RIGHT

config ZMK_KEYBOARD_NAME
	default "36chambers9sr"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y
	
endif

if SHIELD_36CHAMBERS9SR_LEFT || SHIELD_36CHAMBERS9SR_RIGHT

config ZMK_SPLIT
	default y

config SPI
    default y

endif

