# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

config SHIELD_36CHAMBERS9C_CIRQUE
	def_bool $(shields_list_contains,36Chambers9c_cirque)

config SHIELD_36CHAMBERS9C_LEFT
    def_bool $(shields_list_contains,36Chambers9c_left)

config SHIELD_36CHAMBERS9C_RIGHT
    def_bool $(shields_list_contains,36Chambers9c_right)