if SHIELD_36CHAMBERS9TP_LEFT || SHIELD_36CHAMBERS9TP_RIGHT

config ZMK_SPLIT
	default y
config SPI
    default y
config ZMK_POINTING
    default y
endif



if SHIELD_36CHAMBERS9TP_RIGHT

config ZMK_KEYBOARD_NAME
	default "36chambers9tp"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif
