if SHIELD_36CHAMBERS_LEFT

config ZMK_KEYBOARD_NAME
	default "36Chambers"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_36CHAMBERS_LEFT || SHIELD_36CHAMBERS_RIGHT

config ZMK_SPLIT
	default y

endif

