if SHIELD_36CHAMBERS9SRP_LEFT || SHIELD_36CHAMBERS9SRP_RIGHT

config ZMK_SPLIT
	default y
config SPI
    default y
config I2C
	default y
config ZMK_POINTING
    default y
endif

if SHIELD_36CHAMBERS9SRP_LEFT

config ZMK_KEYBOARD_NAME
	default "36chambers9srp"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif


