# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_SWEPT_DONGLE

config ZMK_KEYBOARD_NAME
	default "Swept tmls"
	
config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y
	
config ZMK_USB
	default y

endif

if SHIELD_SWEPT_LEFT || SHIELD_SWEPT_RIGHT || SHIELD_SWEPT_DONGLE 

config ZMK_SPLIT
	default y

config ZMK_BLE
	default y

config I2C
	default y
      
config ZMK_POINTING
	default y

endif