#include "36chambers9.dtsi" 

&default_transform {
	col-offset = <5>;
}; 

	right_encoder: encoder_right {
        compatible = "alps,ec11";
        label = "RIGHT_ENCODER";
        a-gpios = <&gpio0 9 (GPIO_ACTIVE_HIGH)>;
        b-gpios = <&gpio0 10 (GPIO_ACTIVE_HIGH)>;
        steps = <80>;
    };

	sensors: sensors {
        compatible = "zmk,keymap-sensors";
        sensors = <&right_encoder>;
        triggers-per-rotation = <20>;
    };