/{
macros {
        R_1W: R_1W {
            label = "R_1W";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <0>;
            tap-ms = <0>;
            bindings
                = <&macro_press &kp LSHFT>
                , <&macro_tap &kp S>
                , <&macro_release &kp LSHFT>
                , <&macro_tap &kp H &kp A &kp W &kp U &kp A &kp J &kp Y &kp D &kp S &kp N>
                ;
        };
        R_2W: R_2W {
            label = "R_2W";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <5>;
            tap-ms = <10>;
            bindings
                = <&macro_tap &kp PIPE>
                , <&macro_press &kp LSHFT>
                , <&macro_tap &kp X>
                , <&macro_release &kp LSHFT>
                , <&macro_tap &kp T &kp E>
                , <&macro_press &kp LSHFT>
                , <&macro_tap &kp Z &kp B>
                , <&macro_release &kp LSHFT>
                , <&macro_tap &kp N8>
                , <&macro_press &kp LSHFT>
                , <&macro_tap &kp Y>
                , <&macro_release &kp LSHFT>
                , <&macro_tap &kp R &kp D &kp C &kp SPACE>
                , <&macro_press &kp LSHFT>
                , <&macro_tap &kp S &kp B &kp R>
                , <&macro_release &kp LSHFT>
                , <&macro_tap &kp Z &kp U &kp 1>
                ;
        };
        textit: textit {
            label = "textit";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <10>;
            bindings
                = <&macro_tap 
                &kp LBRC &kp LEFT &kp LEFT
                &kp BSLH &kp F &kp K &kp X &kp F &kp L &kp F>
                ,<&macro_press &kp LALT>
                ,<&macro_tap &kp RIGHT &kp RIGHT>
                ,<&macro_release &kp LALT>
                ;
        };
        textbf: textbf {
            label = "textbf";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <20>;
            tap-ms = <10>;
            bindings
                = <&macro_tap 
                &kp LBRC &kp LEFT &kp LEFT
                &kp BSLH &kp F &kp K &kp X &kp F &kp B &kp E>
                ,<&macro_press 
                &kp LALT>
                ,<&macro_tap 
                &kp RIGHT &kp RIGHT>
                ,<&macro_release 
                &kp LALT>
                ;
        };
        LR_PAR: LR_PAR {
            label = "LR_PAR";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <40>;
            tap-ms = <40>;
            bindings
                = <&macro_press &kp LSHFT>
                , <&macro_tap &kp N9 &kp N0>
                , <&macro_release &kp LSHFT>
                , <&macro_tap &kp LEFT>
                ;
        };   
        parencite: parencite {
            label = "parencite";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            tap-ms = <20>;
            bindings
                = <&macro_tap &kp BSLH &kp R &kp A &kp S &kp K &kp J &kp C &kp L &kp F &kp K>
                , <&macro_tap &kp LBKT &kp RBKT  &kp LBRC &kp RBRC &kp LEFT &kp LEFT &kp LBKT &kp RBKT &kp RIGHT &kp RIGHT>
                ;
        };
        single_tap: single_tap {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&macro_param_1to1>, <&kp MACRO_PLACEHOLDER>;
        };
    };
    behaviors {
        commaperiod: commaperiod {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&kp COMMA>, <&kp DOT>;
        };
        commaq: commaq {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <400>;
            bindings = <&kp>, <&commaperiod>;
        };
        td_boot_out: td_boot_out {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <400>;
            bindings = <&bootloader>, <&out OUT_TOG>;
        };
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <400>;
            bindings = <&kp &kp>;
        };
        sl_mo: behavior_sl_mo {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "hold-preferred";      /*  */
            tapping-term-ms = <450>;       /*  */
            bindings = <&mo &sl>;          /* hold=MO, tap=SL */
        };
        qlt: quick_layer_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            flavor = "hold-preferred";
            bindings = <&mo>, <&kp>;
        };        
        qmt: quick_mod_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            flavor = "hold-preferred";
            bindings = <&kp>, <&kp>;
        }; 
        bhm: balanced_homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            tapping-term-ms = <250>;    // <---[[moderate duration]]
            quick-tap-ms = <0>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
        };
        tns: tap_number_symbols {
            compatible = "zmk,behavior-hold-tap";
            label = "NUM_SYMBOLS";
            #binding-cells = <2>;
            tapping-term-ms = <250>;    // <---[[moderate duration]]
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&single_tap>, <&kp>;
        };
        tms: tap_mouse_symbols {
            compatible = "zmk,behavior-hold-tap";
            label = "MOUSE_SYMBOLS";
            #binding-cells = <2>;
            tapping-term-ms = <250>;    // <---[[moderate duration]]
            quick-tap-ms = <0>;
            flavor = "tap-preferred";
            bindings = <&mkp>, <&kp>;
        };
        
    sk_kp: behavior_sk_kp {
        compatible = "zmk,behavior-hold-tap";
        #binding-cells = <2>;
        flavor = "hold-preferred";
        tapping-term-ms = <200>;
        bindings = <&kp &sk>;          /* hold=kp, tap=sticky key */
        };
    shift_td: shift_td {
        compatible = "zmk,behavior-tap-dance";
        #binding-cells = <0>;
        tapping-term-ms = <200>;
        bindings = <&sk_kp LSHFT LSHFT>, <&caps_word>;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";
        /* Tri-layer: holding LOWER + UPPER together activates ADJUST
           (QMK's update_tri_layer / "tri_layer" equivalent). */
        tri_layer {
            if-layers = <LOWER UPPER>;
            then-layer = <ADJUST>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {

            bindings = <
/*        --------------------------------------------------------------------------------------------------------------------------
//         |    Shoulder Key1    |                                                                             |    Shoulder Key2    |
// |         Call key      |      Blackberry Key        |    Trackpad    |             Back Key                |             Endcall Key          |
// |     Q      |     W    |     E    |     R    |      T      |       Y        |       U        |        I        |       O      |      P        |
// |     A      |     S    |     D    |     F    |      G      |       H        |       J        |        K        |       L      |      ←        |
// |     alt    |     Z    |     X    |     C    |      V      |       B        |       N        |        M        |       $      |    Enter      |
//        |         aA     |         0           |           SPACE              |         SYM         |        aA          |
//        -----------------------------------------------------------------------------------------------------------------
*/
                 &tog GAME                                                                                           &tog GAME
    &qlt LOWER LEFT                    &qlt UPPER UP                        &mkp LCLK                   &qlt LOWER DOWN              &qlt LOWER RIGHT
    &tns LS(Q) Q        &tns LS(W) W &tns LS(E) E &tns LS(R) R &tns LS(T) T  &tns LS(Y) Y      &tns LS(U) U     &tns LS(I) I     &tns LS(O) O     &tns LS(P) P
    &tns LS(A) A        &tns LS(S) S &tns LS(D) D &tns LS(F) F &tns LS(G) G  &tns LS(H) H      &tns LS(J) J     &tns LS(K) K     &tns LS(L) L     &kp BSPC
    &shift_td            &tns LS(Z) Z &tns LS(X) X &tns LS(C) C &tns LS(V) V  &tns LS(B) B      &tns LS(N) N     &tns LS(M) M     &commaq QMARK 0  &kp RET
    &qlt UPPER ESC            &sk_kp LALT LALT               &bhm LGUI SPACE                          &bhm  LCTRL TAB                  &tms RCLK GLOBE
            >;
        };
        game_layer {

            bindings = <
/*        --------------------------------------------------------------------------------------------------------------------------
//         |    Shoulder Key1    |                                                                             |    Shoulder Key2    |
// |         Call key      |      Blackberry Key        |    Trackpad    |             Back Key                |             Endcall Key          |
// |     Q      |     W    |     E    |     R    |      T      |       Y        |       U        |        I        |       O      |      P        |
// |     A      |     S    |     D    |     F    |      G      |       H        |       J        |        K        |       L      |      ←        |
// |     alt    |     Z    |     X    |     C    |      V      |       B        |       N        |        M        |       $      |    Enter      |
//        |         aA     |         0           |           SPACE              |         SYM         |        aA          |
//        -----------------------------------------------------------------------------------------------------------------
*/
                 &tog DEFAULT                                                                                           &tog DEFAULT
    &kp LEFT                    &kp UP                        &mkp LCLK                   &kp DOWN              &kp RIGHT
    &kp Q        &kp W &kp E &kp R &kp T  &kp Y      &kp U     &kp I     &kp O     &kp P
    &kp A        &kp S &kp D &kp F &kp G  &kp H      &kp J     &kp K     &kp L     &kp BSPC
    &shift_td            &kp Z &bhm LCTL X &bhm LALT C &kp V  &kp B      &kp N     &kp M     &commaq QMARK 0  &kp RET
    &qlt UPPER ESC            &sk_kp LALT LALT               &kp SPACE                          &bhm  LCTRL TAB                  &qlt LOWER GLOBE
            >;
        };
        lower_layer {

            bindings = <
                 &none                                                                                       &trans
    &trans               &msc SCRL_UP                     &trans                          &msc SCRL_DOWN                           &trans
    &trans    &tns EXCL N1        &tns AT N2          &tns POUND N3    &tns LT LPAR   &tns GT RPAR      &kp UNDER       &kp MINUS    &kp PLUS         &kp EQUAL
    &trans    &tns DLLR N4        &tns PRCNT N5       &tns CARET N6    &kp FSLH   &kp COLON     &kp SEMI        &tns GRAVE SQT &kp DQT        &kp DEL
    &trans    &tns AMPS N7        &tns ASTRK N8       &tns LPAR N9          &kp QMARK     &kp EXCL        &kp COMMA &kp DOT    &trans &kp ENTER
    &tog ADJUST            &tns RPAR N0                         &kp CAPS                       &trans                       &trans
            >;
        };
        upper_layer {

            bindings = <
                 &none                                                                                           &none
    &trans          &trans                                  &trans                          &trans                     &trans
    &none        &kp F1   &kp F2 &kp F3      &tns LBRC LBKT &tns RBRC RBKT            &trans           &trans          &trans         &kp EQUAL
    &kp LEFT     &kp F4   &kp F5 &kp F6           &kp BSLH          &trans         &trans         &trans        &trans        &trans
    &trans      &kp F7   &kp F8 &kp F7  &trans        &trans  &trans       &trans &trans     &kp ENTER
    &qlt UPPER ESC              &trans                                      &kp  SPACE                        &trans                      &trans
        >;
        };

        adjust_layer {

            bindings = <
                 &bt BT_SEL 0                                                                                         &bt BT_SEL 1

    &trans    &trans                                      &trans                         &trans        &trans
    &ext_power EP_TOG        &none     &none       &none      &kp LT        &kp GT         &none           &none           &none            &trans
    &none        &none     &none       &none      &kp PIPE        &none         &none           &none           &none            &none
    &none        &none     &none       &none      &bl BL_DEC        &rgb_ug RGB_TOG  &bl BL_INC       &rgb_ug RGB_BRI &kp BSLH      &none
    &tog ADJUST                  &none                               &bootloader                         &to DEFAULT                      &none
        >;
        };
    };
};
