if SHIELD_36CHAMBERS3_LEFT

config ZMK_KEYBOARD_NAME
	default "36Chambers3"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_36CHAMBERS3_LEFT || SHIELD_36CHAMBERS3_RIGHT

config ZMK_SPLIT
	default y

endif

