if 36CIRQUE

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "36cirque"

# Cirque Glidepoint trackpad
config ZMK_POINTING
    default y

# Assuming pointing device uses SPI
config SPI
    default y
endif