/*
 * Copyright (c) 2020 The ZMK Contributors
 *;
 * SPDX-License-Identifier: MIT

west build -d build/369ulp_l -p -b xiao_ble//zmk -- -DSHIELD=369ulp_left
west build -d build/369ulp_r -p -b xiao_ble//zmk -- -DSHIELD=369ulp_right
west build -d build/369ulp_tp -p -b xiao_ble//zmk -- -DSHIELD=369ulp_tp

docker cp zealous_pasteur:/workspaces/zmk/app/build/369ulp_l/zephyr/zmk.uf2 "/Users/song100/Library/Mobile Documents/com~apple~CloudDocs/Keyboard/36firmware/369ulp_left.uf2"
docker cp zealous_pasteur:/workspaces/zmk/app/build/369ulp_r/zephyr/zmk.uf2 "/Users/song100/Library/Mobile Documents/com~apple~CloudDocs/Keyboard/36firmware/369ulp_right.uf2"
docker cp zealous_pasteur:/workspaces/zmk/app/build/369ulp_tp/zephyr/zmk.uf2 "/Users/song100/Library/Mobile Documents/com~apple~CloudDocs/Keyboard/36firmware/369ulp_tp.uf2"

 */

// Macros, behaviors, combos, and global settings are in:
#include "../369p/369p_behaviors.dtsi"

// ------------------------------------------------------------------
// Keymap layers
// ------------------------------------------------------------------
/{
    keymap {
        compatible = "zmk,keymap";

        qwerty_layer {
            bindings = <
                    &kp W           &kp E               &kp R               &kp T           &kp Y               &kp U               &kp I           &kp O
    &kp Q           &kp S           &mnl mouse D    &mnl extra F        &kp G           &bhm LGUI H         &bhm LGUI J         &bhm LALT K     &bhm LCTL L         &bhm LSHFT P
    &kp A           &bhm LCTRL X    &bhm LALT C         &bhm LGUI V         &bhm LGUI B     &kp N               &bhm LALT M         &comlpar        &dotrpar            &tns COLON SEMI
    &bhm LSHFT Z                    &homef17mm 0 0      &qlt lower BSPC     &tabgui 0 RET   &tns RSHFT SPACE    &lt raise TAB       &kp F18                             &mt RSHFT FSLH
                >;
        };
        colemnk_layer {
            bindings = <
                    &trans          &trans              &trans              &trans          &trans              &trans              &trans          &trans
    &trans          &trans          &trans              &trans              &trans          &trans              &trans              &trans          &trans              &trans
    &trans          &trans          &trans              &trans              &trans          &trans              &trans              &trans          &trans              &trans
    &trans                          &trans              &trans              &trans          &trans              &trans              &trans                              &trans
            >;
        };
        lower_layer {
            bindings = <
                    &lefttop        &toptop             &righttop           &kp LG(LS(N5))  &tns AMPS N7        &tns ASTRK N8       &tns LT N9      &kp PLUS
    &kp LG(LBKT)    &leftleft       &centercenter       &rightright         &R1WR2W         &tns DLLR N4        &tns PRCNT N5       &tns CARET N6   &kp MINUS           &kp EQUAL
    &kp C_VOL_UP    &leftbot        &botbot             &rightbot           &bhm LGUI B     &tns EXCL N1        &tns AT N2          &tns POUND N3   &kp DOT             &kp EQUAL
    &kp C_VOL_DN                    &mkp MB2            &qlt lower BSPC     &tabgui 0 RET   &tns RPAR N0        &lt adjust TAB      &kp F18                             &mt RSHFT FSLH
    >;
        };
        raise_layer {
            bindings = <
                    &kp F2          &kp F3              &kp F4              &kp F5          &kp F6              &kp F7              &kp UP          &kp F9
    &kp F1          &kp LCTL        &kp LALT            &kp LGUI            &none           &toggleForkLift     &kp LEFT            &kp DOWN        &kp RIGHT           &kp RET
    &kp LSHFT       &bhm LCTRL X    &bhm LALT C         &bhm LGUI V         &bhm LGUI B     &tns LBRC LBKT      &tns RBRC RBKT      &kp SQT         &kp DQT             &kp RIGHT
    &bhm LSHFT Z                    &trans              &qlt adjust DEL     &trans          &tns RSHFT SPACE    &lt raise TAB       &trans                              &mt RSHFT BSLH
    >;
        };
        adjust_layer {
            bindings = <
                    &none           &none               &out OUT_TOG        &bt BT_CLR_ALL  &kp AMPS            &kp ASTRK           &LR_PAR         &kp EQUAL
    &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 3        &bt BT_SEL 3        &bt BT_CLR      &kp DLLR            &kp PRCNT           &kp CARET       &kp UNDER           &kp PIPE
    &bhm LSHFT C_VOL_UP &bhm LCTRL X &bhm LALT C        &bhm LGUI V         &bhm LGUI B     &kp EXCL            &kp AT              &kp POUND       &none               &kp BSLH
    &bhm LSHFT C_VOL_DN             &trans              &qlt adjust DEL     &trans          &kp RPAR            &lt adjust TAB      &trans                              &mt RSHFT BSLH
    >;
        };
        commandlayer_layer {
            bindings = <
                    &arcwindow      &kp E               &bhm LSHFT R        &kp T           &kp Y               &kp U               &kp I           &kp O
    &qtab2 0 TAB    &kp S           &kp D               &kp F               &kp G           &kp H               &kp J               &kp K           &kp L               &kp RET
    &bhm LSHFT A    &bhm LCTRL X    &bhm LALT C         &tappaste           &bhm LGUI B     &kp N               &bhm LALT M         &comlpar        &dotrpar            &kp SEMI
    &bhm LSHFT Z                    &mkp MB1            &qlt lower DEL      &kp RET         &kp SPACE           &lt raise TAB       &kp ESC                             &mt RSHFT FSLH
    >;
        };
        extra_layer {
            bindings = <
                    &kp W           &kp E               &kp R               &kp T           &kp AMPS            &kp U               &kp I           &kp O
    &kp Q           &bhm LGUI S     &mt mouse LG(LS(SPACE)) &mo extra       &kp G           &kp PG_DN           &kp F18             &kp K           &textit             &bhm LSHFT P
    &kp LC(LEFT)    &bhm LCTRL X    &copypaste          &bhm LGUI V         &textbf         &kp LBRC            &kp RBRC            &kp GRAVE       &kp SQT             &rightminusgt
    &parencite                      &mkp MB2            &qlt lower DEL      &kp LS(LC(LA(LG(RET)))) &kp LS(LC(LA(LG(SPACE)))) &kp LS(LC(LA(LG(TAB)))) &kp CAPS         &mt RSHFT BSLH
                >;
        };
        mouse_layer {
            bindings = <
                    &kp LG(LA(LEFT)) &mkp MB4           &kp LG(LA(RIGHT))   &kp T           &msc SCRL_UP        &msc SCRL_LEFT      &mmv MOVE_UP    &msc SCRL_RIGHT
    &kp LG(LEFT)    &mkp MB2        &mo mouse           &mkp MB1            &kp LG(RIGHT)   &msc SCRL_DOWN      &mmv MOVE_LEFT      &mmv MOVE_DOWN  &mmv MOVE_RIGHT     &bhm LCTL P
    &msc SCRL_UP    &bhm LCTRL X    &bhm LALT C         &bhm LGUI V         &bhm LGUI B     &kp LBRC            &kp RBRC            &kp GRAVE       &kp SQT             &mnl mouse SEMI
    &msc SCRL_DOWN                  &mkp MB1            &qlt lower BSPC     &kp RET         &mkp MB1            &mkp MB2            &kp CAPS                            &mt RSHFT BSLH
                >;
        };
    };
};
