if SHIELD_369ULP_LEFT || SHIELD_369ULP_RIGHT || SHIELD_369ULP_TP

config ZMK_SPLIT
	default y
config SPI
	default y
config I2C
	default y
config ZMK_POINTING
	default y

endif

if SHIELD_369ULP_LEFT

config ZMK_KEYBOARD_NAME
	default "36Chambers-ULP"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_369ULP_TP

config INPUT_PINNACLE
	default y

endif
