if SHIELD_36CHAMBERS5_LEFT

config ZMK_KEYBOARD_NAME
	default "36Chambers5"

config ZMK_SPLIT_BLE_ROLE_CENTRAL
	default y

endif

if SHIELD_36CHAMBERS5_LEFT || SHIELD_36CHAMBERS5_RIGHT

config ZMK_SPLIT
	default y

endif