/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 *
 * Build commands:
 west build -d build/369p_left -p -b xiao_ble//zmk -- -DSHIELD=369p_left
 west build -d build/369p_right -p -b xiao_ble//zmk -- -DSHIELD=369p_right
 west build -d build/xiao_ble_reset -p -b xiao_ble//zmk -- -DSHIELD=settings_reset
 *
 docker cp naughty_cohen:/workspaces/zmk/app/build/369p_left/zephyr/zmk.uf2 "/Users/song100/Library/Mobile Documents/com~apple~CloudDocs/Keyboard/36firmware/369p_left.uf2"
 docker cp naughty_cohen:/workspaces/zmk/app/build/369p_right/zephyr/zmk.uf2 "/Users/song100/Library/Mobile Documents/com~apple~CloudDocs/Keyboard/36firmware/369p_right.uf2"
 docker cp naughty_cohen:/workspaces/zmk/app/build/xiao_ble_reset/zephyr/zmk.uf2 "/Users/song100/Library/Mobile Documents/com~apple~CloudDocs/Keyboard/36firmware/xiao_ble_reset.uf2"
 *
 */

// Macros, behaviors, combos, and global settings are in:
#include "369p_behaviors.dtsi"

// ------------------------------------------------------------------
// Keymap layers
// ------------------------------------------------------------------
/{
    keymap {
        compatible = "zmk,keymap";

        qwerty_layer {
            bindings = <    
    &homef17mm 0 0  &kp W           &kp E               &kp R               &kp T           &kp Y               &kp U               &kp I           &kp O               &kp F12
    &kp Q           &kp S           &mnl mouse D        &mnl extra F        &kp G           &bhm LGUI H         &bhm LGUI J         &bhm LALT K     &bhm LCTL L         &bhm LSHFT P
    &kp A           &bhm LCTRL X    &bhm LALT C         &bhm LGUI V         &bhm LGUI B     &kp N               &bhm LALT M         &comlpar        &dotrpar            &tns COLON SEMI
    &bhm LSHFT Z                    &homef17mm 0 0 &qlt lower BSPC &tabgui 0 RET   &tns RSHFT SPACE    &lt raise TAB       &kp F18         &mkp MB1            &mt RSHFT FSLH
                >;
            sensor-bindings = <&inc_dec_kp X Y &scroll_up_down>;
        };
        colemak_layer {
            bindings = <
    &homef17mm 0 0  &kp W           &kp F               &kp P               &kp G           &kp J               &kp L               &kp U           &kp Y               &kp F12
    &kp Q           &kp R           &dmousecombo 0 D        &mnl extra T        &kp D           &kp H               &kp N               &kp E           &kp I               &kp SEMI
    &kp A           &bhm LCTRL X    &bhm LALT C         &bhm LGUI V         &bhm LGUI B     &kp K               &kp M               &comlpar        &dotrpar            &kp O      
    &bhm LSHFT Z                    &dmousecombo2 0 MB1 &qlt lower BSPC     &tabgui 0 RET   &tns RSHFT SPACE    &lt raise TAB       &kp F18         &mkp MB1            &mt RSHFT FSLH
                 >;
sensor-bindings = <&inc_dec_kp X Y &scroll_up_down>;
        };
        lower_layer {
            bindings = <
    &kp F17  &lefttop        &toptop             &righttop           &kp LG(LS(N5))  &tns AMPS N7        &tns ASTRK N8       &tns LT N9      &kp PLUS            &to 0 
    &kp LG(LBKT)    &leftleft       &centercenter       &rightright         &R1WR2W         &tns DLLR N4        &tns PRCNT N5       &tns CARET N6   &kp MINUS           &kp EQUAL
    &kp C_VOL_UP    &leftbot        &botbot             &rightbot           &bhm LGUI B     &tns EXCL N1        &tns AT N2          &tns POUND N3   &kp DOT             &kp EQUAL
    &bhm LSHFT C_VOL_DN                   &mkp MB2                &qlt lower BSPC  &tabgui 0 RET   &tns RPAR N0        &lt adjust TAB      &kp F18         &mkp MB2            &mt RSHFT FSLH
    >;
sensor-bindings = <&inc_dec_kp X Y &scroll_l_r>;
        };
        raise_layer {
            bindings = <
    &mkp MB2        &kp F2          &kp F3              &kp F4              &kp F5          &kp F6              &kp F7              &kp UP          &kp F8              &kp F9
    &kp F1          &kp LCTL        &kp LALT            &kp LGUI            &none           &toggleForkLift     &kp LEFT            &kp DOWN         &kp RIGHT            &kp RET
    &kp LSHFT       &bhm LCTRL X    &bhm LALT C         &bhm LGUI V         &bhm LGUI B     &tns LBRC LBKT      &tns RBRC RBKT      &kp SQT         &kp DQT             &kp RIGHT
    &bhm LSHFT Z                    &trans              &qlt adjust DEL     &trans          &tns RSHFT SPACE    &lt raise TAB       &trans          &trans              &mt RSHFT BSLH
    >;
sensor-bindings = <&inc_dec_kp X Y &scroll_l_r>;
        };
        adjust_layer {
            bindings = <
    &P_1W           &P_2W           &none               &out OUT_TOG        &bt BT_CLR_ALL  &kp AMPS            &kp ASTRK           &LR_PAR         &kp EQUAL           &bootloader
    &bt BT_SEL 0    &bt BT_SEL 1    &bt BT_SEL 3        &bt BT_SEL 3        &bt BT_CLR      &kp DLLR            &kp PRCNT           &kp CARET       &kp UNDER           &kp PIPE
    &bhm LSHFT C_VOL_UP &bhm LCTRL X &bhm LALT C        &bhm LGUI V         &bhm LGUI B     &kp EXCL            &kp AT              &kp POUND       &none               &kp BSLH
    &bhm LSHFT C_VOL_DN             &trans              &qlt adjust DEL     &trans          &kp RPAR            &lt adjust TAB      &trans          &trans              &mt RSHFT BSLH
    >;
            sensor-bindings = <&inc_dec_kp X Y &scroll_l_r>;    
        };
        commandlayer_layer {
            bindings = <
    &kp GRAVE       &arcwindow      &kp E               &bhm LSHFT R        &kp T           &kp Y               &kp U               &kp I           &kp O               &kp TILDE
    &qtab2 0 TAB    &kp S           &kp D               &kp F               &kp G           &kp H               &kp J               &kp K           &kp L               &kp RET
    &bhm LSHFT A    &bhm LCTRL X    &bhm LALT C         &tappaste         &bhm LGUI B     &kp N               &bhm LALT M         &comlpar        &dotrpar            &kp SEMI
    &bhm LSHFT Z                    &qlt lower DEL      &mkp MB1            &kp RET         &kp SPACE           &lt raise TAB       &kp ESC         &trans              &mt RSHFT FSLH
    >;
sensor-bindings = <&inc_dec_kp X Y &scroll_up_down>;
        };
        extra_layer {
            bindings = <
    &kp ESC         &kp W           &kp E               &kp R               &kp T           &kp AMPS            &kp U               &kp I           &kp O               &kp RET
    &kp Q           &bhm LGUI S     &mt mouse LG(LS(SPACE)) &mo extra       &kp G           &kp PG_DN           &kp F18             &kp K           &textit             &bhm LSHFT P 
    &kp LC(LEFT)    &bhm LCTRL X    &copypaste          &bhm LGUI V         &textbf         &kp LBRC            &kp RBRC            &kp GRAVE       &kp SQT             &rightminusgt      
    &parencite                      &qlt lower DEL      &mkp MB2            &kp LS(LC(LA(LG(RET)))) &kp LS(LC(LA(LG(SPACE)))) &kp LS(LC(LA(LG(TAB)))) &kp CAPS  &trans              &mt RSHFT BSLH
                >;
sensor-bindings = <&inc_dec_kp X Y &scroll_up_down>;
        };
        mouse_layer {
            bindings = <
    &mkp MB1        &kp LG(LA(LEFT)) &mkp MB4           &kp LG(LA(RIGHT))   &kp T           &msc SCRL_UP        &msc SCRL_LEFT      &mmv MOVE_UP    &msc SCRL_RIGHT     &kp HOME
    &kp LG(LEFT)    &mkp MB2        &mo mouse           &mkp MB1            &kp LG(RIGHT)   &msc SCRL_DOWN      &mmv MOVE_LEFT      &mmv MOVE_DOWN  &mmv MOVE_RIGHT     &bhm LCTL P
    &msc SCRL_UP    &bhm LCTRL X    &bhm LALT C         &bhm LGUI V         &bhm LGUI B     &kp LBRC            &kp RBRC            &kp GRAVE       &kp SQT             &mnl mouse SEMI      
    &msc SCRL_DOWN                  &qlt lower BSPC     &mkp MB1            &kp RET         &mkp MB1            &mkp MB2            &kp CAPS        &trans              &mt RSHFT BSLH
                >;
sensor-bindings = <&inc_dec_kp X Y &scroll_up_down>;
        };
    };
};